body, html {
    margin: 0px;
    background: rgb(18,19,18);
    background: linear-gradient(333deg, rgba(18,19,18,1) 0%, rgba(0,14,5,1) 43%, rgba(17,53,171,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    overflow-y: hidden;
    
}

.Gosha {
    width: 7em;
    height: 7em;

}

.text__recog {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;

    text-align: center;
}

.content {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}